body {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

.container {
  display: grid;
  grid-template-columns: 1fr 3.75fr;
  grid-template-rows: 1fr 9fr;
  grid-template-areas: 
  "sidebar header"
  "sidbar main-content";
}

.header {
  grid-area: header;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-areas: 
  "search-bar notification"
  "user share-interactions";
  border-radius: 1px;
  padding-left: 80px;
  padding-right: 80px;
  padding-bottom: 20px;
  background-color: white;
  box-shadow: 0 4px 10px -2px rgba(128, 128, 128, 0.444);
  }

.sidebar {
  grid-area: sidebar;
  grid-row: 1 / 3;
  background-color: #3f6212;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px 20px 10px 20px;
  min-width: 275px;
}

.main-content {
  grid-area: main-content;
  background-color: #dde2d5;
  display: flex;
  flex-direction: column;
  padding: 30px;
}

.main-content-container {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-areas: 
  "project-cards aside";
  gap: 20px;
  background-color: #dde2d5;
}


.search-bar {
  grid-area: search-bar;
  display: flex;
  gap: 15px;
  align-items: center;
}

#search {
  border-radius: 25px;
  background-color: #dde2d5;
  border: none;
  width: 800px;
  height: 42px;
}

.notification {
  grid-area: notification;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 30px;
}

.greet-user {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#hello {
  margin-top: 0;
}

.user {
  grid-area: user;
  display: flex;
  align-items: center;
  gap: 20px;
}

#user-avatar1 {
  border-radius: 50px;
  width: 65px;
}

.share-interactions {
  grid-area: share-interactions;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.share-interactions ul {
  display: flex;
  list-style: none;
  gap: 30px;
  justify-content: center;
  align-items: center;
  margin-bottom: 0;
  padding: 0;
}

.share-interactions ul li button {
  width: 125px;
  height: 50px;
  border-radius: 25px;
  border: none;
  background-color: #dde2d5;
}

.share-interactions ul li a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 1.22rem;
}

#message-bubble {
  transform: scale(-1,1);
}

#user-avatar2 {
  border-radius: 50px;
  height: 90px;
}

h1 {
  font-size: 2rem;
}

h2 {
  margin: 0;
  font-size: 1.75rem;
}

h3 {
  font-size: 1.5rem;
  margin: 0;
}

h4 {
  font-size: 1.4rem;
}

h5 {
  margin-bottom: 0;
  font-size: 1.075rem;
}

#sidebar-heading {
  text-shadow: 1px 1px rgba(0, 0, 0, 0.451);
}

.dashboard {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 30px;
}

.dashboard img {
  filter: invert(100%);
}

.nav {
  display: flex; 
  flex-direction: column;
  align-items: flex-start;
  gap: 50px;
  margin-left: 15px;
}

.nav ul {
  padding-left: 0;
  list-style: none;
}

.nav ul li img {
  filter: invert(100%);

}

.nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.7rem;
}

.nav ul li {
  display: flex;
  gap: 30px;
}

.nav-links1 {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.nav-links2 {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.main-content-headers {
  grid-area: main-content-headers;
  grid-column: 1 / 5;
  display: grid;
  grid-template-columns: repeat(4 , 1fr);
  max-height: 150px;
  gap: 20px;
}

.project-cards {
  grid-area: project-cards;
  grid-row: 2;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3 , 1fr);
  min-height: 900px;
  gap: 30px;
}

.cards {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: -7px 0px 0px #b70c0cca , 0 4px 10px -2px rgba(128, 128, 128, 0.444), 5px 0 5px -5px rgba(128, 128, 128, 0.444);
}

.cards h4 {
  margin-bottom: 0;
}

.cards p {
  color: rgba(0, 0, 0, 0.579);
  font-size: 1.2rem;
  margin-top: 0;
}

.content-interactions {
  display: flex;
  gap: 40px;
  justify-content: end;
  margin-bottom: 0;
  margin-top: 32px;
  padding-right: 20px;
}

.content-interactions li {
  list-style: none;
}

.content-interactions li img {
  width: 30px;
}

.aside {
  grid-area: aside;
  grid-row: 2;
  min-height: 900px;
}

.announcements {
  grid-area: announcements;
  gap: 20px;
}

#announcements-header {
  grid-column: 4;
}

.announcements-card {
  background-color: white;
  box-shadow: 0 4px 10px -2px rgba(128, 128, 128, 0.444) , 5px 0 5px -5px rgba(128, 128, 128, 0.444);
  border-radius: 8px;
  padding: 20px 40px;
  list-style: none;
  margin-top: 0;

}

#announcement-one ,
#announcement-two {
  border-bottom:1px solid #00000048;
}

.announcements-card li p {
  margin-top: 0;
  font-size: 1rem;
  color: rgba(0, 0, 0, 0.579);
}

#trending-header {
  grid-area: trending-header;
  align-self: end;
  margin-bottom: 15px;
  margin-top: 35px;
}

.trending {
  grid-area: trending;
  display: grid;
  grid-template-areas: 
  "drum-machine naz"
  "groovebox-sampler jayden"
  "groovebox-music ant"
  "midi kat";
  grid-template-columns: 1fr 3fr;
  background-color: white;
  box-shadow: 0 4px 10px -2px rgba(128, 128, 128, 0.444) , 5px 0 5px -5px rgba(128, 128, 128, 0.444);
  padding: 20px;
  border-radius: 8px;
  align-items: center;
}

.music-boxes {
  border-radius: 100%;
  justify-self: center;
}

#drum-machine {
  grid-area: drum-machine;
  width: 65px;
}

#groovebox-sampler {
  grid-area: groovebox-sampler;
  width: 65px;
}

#groovebox-music {
  grid-area: groovebox-music;
  width: 65px;
}

#midi {
  grid-area: midi;
  width: 65px;
}

#naz {
  grid-area: naz;
}

#jayden {
  grid-area: jayden;
}

#ant {
  grid-area: ant;
}

#kat {
  grid-area: kat;
}

.trending-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  font-size: 1.075rem;
  padding-top: 30px;
  padding-bottom: 30px;
}


.trending-user{
  margin-bottom: 0;
  margin-top: 0;
}

.trending-project {
  margin: 0;
  color: rgba(0, 0, 0, 0.579);
}
